[2014-03-22 11:14] jirikuncar opened #3 "Python 3.3 compatibility"
- There is a problem with `PyString_FromStringAndSize(char *s, Py_ssize_t len)` in Python 3.
- Invenio in inveniosoftware/invenio#1782 is getting ready for Python 3 and this is a blocker.

[2014-04-08 09:45] kaplun opened #5 "Remove intbitset.c"
intbitset.c can be automatically generated from available cython used as a dependency. In case the intbitset.c can be shipped in tar packages.

[2014-06-16 11:24] #3 closed, assigned to kaplun

[2014-06-16 11:45] jirikuncar opened #7 "Add python classifiers"
- Add classifiers for supported versions `Programming Language :: Python :: X.Y`

[2014-06-16 11:57] #7 closed, assigned to nobody

[2014-06-16 12:06] kaplun opened #8 "Complete documentation"
Documentation is currently a stub. It doesn't mention the whole API, and doesn't show the `intbitset` performances Vs. typical `set` performances.

[2014-06-17 07:55] kaplun opened #9 "Broken on Python 2"
Albeit Travis claims `intbitset` passes all tests on Python 2, it can't even be imported.

[code]

It perfectly works on Python 3

[2014-06-17 08:42] #9 closed, assigned to kaplun

[2014-06-17 08:57] kaplun opened #11 "Remove coverage"
Coverage is not supported by cython modules.

[2014-06-18 14:33] #11 closed, assigned to nobody

[2014-06-18 14:34] #8 closed, assigned to nobody

[2014-07-22 09:26] fpoli opened #13 "Segmentation fault with "None <operation> intbitset""
The following lines of code fail with a `Segmentation fault (core dumped)` instead of raising an exception:

[code]

The list is not comprehensive, I have not checked all the operators.

[2014-07-22 09:38] jirikuncar opened #14 "introduce `__version__` according to PEP396/440"
Introduce proper `__version__` handling according to PEP 396. Align with our other Flask extensions, e.g. Flask-Registry.

--
see inveniosoftware/flask-menu#4

[2014-09-08 15:11] kaplun opened #15 "Broken hash function"
[code]

[2014-09-09 21:31] kaplun opened #16 "frozenintbitset"
`intbitset` is currently having a (buggy #15) implementation of hash function. It would be however more correct to move away such function into a frozenintbitset

[2014-09-27 22:31] brentp opened #17 "update should accept list/iterable of ints"
currently, one has to do:

[code]

it would be nice (and hopefully faster).
to use:

[code]

this would match the set interface which accepts non-set arguments.

[2014-11-26 10:25] dset0x opened #18 "Support comparisons with other types."
Using any comparison operator on an intbiset with anything that is not an intbitset results in the following:

[code]

It should instead return `False` as a `set` would.

[2014-12-02 12:31] #17 closed, assigned to nobody

[2014-12-02 13:25] #13 closed, assigned to kaplun

[2015-02-25 14:21] dset0x commented on #18
Perhaps a different issue, but could we also support operations with other kinds of sets?
For example, the following snippets fail:
[code]
[code]

[2015-07-08 13:53] dset0x opened #21 "The `fastload()` also returns the resulting intbitset"
The `fastload()` method, which modifies a current `intbitset` also returns the resulting set. This can come as a surprise, especially when working on a console, as it ends up trying to print the entire intbitset.

[2015-07-13 08:21] #21 closed

[2015-07-13 08:22] dset0x commented on #21
Awesome, thank you.

[2015-09-04 12:08] kaplun opened #25 "Creating next stable release"
@dset0x needs a new stable release of intbitset because he suspects the current release is what leads celery to crash.

@jirikuncar, @tiborsimko, can you publish your vademecum on what is required to make an Invenio package release?

[2015-09-04 12:11] dset0x commented on #25
@kaplun is referring to #13 here. At least in one instance of my issues this was proven to be the issue.

[2015-09-04 12:13] kaplun commented on #25
BTW, have you tried installing the master branch of intbitset to verify if it solves the issue?

[2015-09-04 12:14] dset0x commented on #25
Yes, the issue goes away with `pip install 'git+https://github.com/inveniosoftware/intbitset.git'`.

[2015-09-04 12:20] kaplun commented on #25
Awesome!

[2015-09-04 12:33] jirikuncar commented on #25
@kaplun since the commit messages are not following the *inveniosoftware* standards, I can't use the automatic release notes generator, hence it will take more time.

[2015-09-04 12:44] kaplun commented on #25
What I am looking for is actually the list of things I need to do in order to make a release directly *myself*, following inveniosoftware recommendation.

[2015-09-04 12:48] #14 closed

[2015-09-16 08:41] kaplun commented on #25
I manually completed the CHANGES file, added Travis to Pypi integration and made the release. @dset0x you can now directly use native intbitset.

[2015-09-16 08:47] kaplun opened #27 "Remove coverage support"
Coverage is not (yet) supported by cython modules, hence all the Travis integration is currently unneeded.

Additionally `.coverage` is shipped with the final package on Pypi, which is wrong.

[2015-09-16 08:50] kaplun opened #28 "Missing intbitset.pyx in the final pypi package"
Somehow, after the redesign of `setup.py` in d2e25524bdc4af1f2d2b23ad94ebf89914ae38d9 the `intbitset.pyx` file is no longer shipped.

[2015-09-16 09:05] jirikuncar opened #29 "PyPI package for 2.2.0 is broken!"

[2015-09-16 09:16] jirikuncar commented on #25
Released PyPI package is broken and the commit + tag doesn't follow inveniosoftware standards. You could create a PR first before proceeding with release.

[2015-09-16 09:21] tiborsimko commented on #28
Hmm, is this due to my old setup related changes?  Have you tried to publish a pre-release on https://testpypi.python.org/pypi ?

P.S. BTW the `inveniosoftware` account does not have rights on PyPI to the `intbitset` package. You may want to add it as another owner...

[2015-09-16 09:24] tiborsimko commented on #28
Actually the problem seems to be due to 82c1f73dc73751a7a1fa51079b9736dea9b0e250 that moved some intbitset source files without updating `MANIFEST.in` accordingly.  (Please always run `check-manifest` before releasing.)

[2015-09-16 09:48] #28 closed

[2015-09-16 09:48] #29 closed

[2015-09-16 11:01] kaplun commented on #28
Thanks. I didn't know about the existence of `check-manifest`. Worth mentioning it in the *how to make a release* document.

[2015-09-16 11:26] kaplun commented on #25
What are the inveniosoftware standards?

[2015-09-16 11:30] kaplun commented on #25
The point of this very issue is the lack of documentation for above mentioned standards. If on the one hand commit logs style are well documented (for developers), on the other hand the releasing process document is still missing, and this makes only 3 people to have the knowledge about what are the Invenio standards.

[2015-09-16 11:32] kaplun commented on #25
What do you mean by *commit + tag*? About the fact that the tag is called `v2.2.0`? That was always the case...

[2015-09-16 12:35] jirikuncar commented on #25
There is also a message attached to each tag.

(1) Well if you are not sure, you can always prepare PR and let somebody to check it (which should be the case for **all** PR).

(2) The problem here is, that the commit messages are not following the standard, hence we can not use our toolchain.

(3) The standards are evolving so one has to check the latest best practices. + point (1)

[2015-09-16 12:46] kaplun commented on #25
Thanks I will use it in the future.

But:
* I do want to be sure but I don't have the means to be sure (i.e. a reference document)
* We need control over the release process in order realize concretely what have been decided at the summit, i.e. to distribute the responsibility of package maintainership.

Right so we can do this from this release onwards. BTW where is the toolchain so that we can u

[2015-09-16 12:57] jirikuncar commented on #25
- `kwalitee prepare release vX.Y.Z..`

You can come every Monday to Invenio Developers Forum where we discuss the best practices.

[2015-09-16 13:11] kaplun commented on #25
Awesome. Thanks

Unfortunately I personally won't be able anymore (family reasons).

OK I guess I will create a vademecum reference document myself by trying to reverse engineering all your different processes. I hope not to miss anything

[2015-09-16 13:19] kaplun commented on #27
As @jirikuncar points out, we can actually try to implement what is suggested in http://blog.behnel.de/posts/coverage-analysis-for-cython-modules.html

[2015-09-16 17:42] tiborsimko commented on #25
No need to reverse-engineer anything, for independent packages we follow the usual [Python packaging practices](https://python-packaging-user-guide.readthedocs.org/en/latest/) with goodies like `check-manifest` and trying on `testpypi` in case of doubt. The Invenio add-on layer is rather small and still evolving, e.g. (1) some parts are committed to `kwalitee`, such as the [release notes generator

[2015-09-16 18:26] jirikuncar commented on #25
![image](https://cloud.githubusercontent.com/assets/189798/9914225/17061f6a-5cb1-11e5-967d-a69b51421a75.png)

[2015-09-16 19:16] kaplun commented on #25
Thanks Tibor, for finally having briefly listed the points I was desperately asking since long time. As you can see from your own words there is more than just the reference python packaging practicing. So it's not that obvious how to make an Invenio module release.

Related to today glitch, who would have inspected my package? The error was only in the sdist part. Not in the code that made the re

[2015-09-16 19:18] kaplun commented on #25
Note that this part is for integrator, but it's unrelated to the problem of "what constitutes an Invenio module release".

[2015-09-16 20:18] tiborsimko commented on #25
Yeah, I know I promised to finalise the write-up e.g. summarised in https://github.com/inveniosoftware/invenio/issues/2876#issuecomment-130346421

Ideally you'd find another release peer.  Perhaps me or @jirikuncar would have volunteered to eye-ball the release PR, though indeed this is no guarantee of spotting the issue at hand.  Sometimes peers are not available or are otherwise busy, so the coo

[2015-09-25 11:18] lnielsen opened #33 "intbitset v2.1.1 is gone from PyPI?"
Zenodo have had a dependency on intbitset v2.1.1 for a long time. Now the files are gone from PyPI - what happened?

[2015-09-25 12:02] kaplun commented on #33
Weird! I think I have not touched that release explicitly, rather just the broken 2.2.0 one. I will restore the files. (note that also inveniosoftware has now right to push to pypi).

[2015-09-25 12:04] tiborsimko commented on #33
I have just made the old files visible on PyPI.

[2015-09-25 12:12] kaplun commented on #33
The old versions were hidden, but the files for 2.1.1 is indeed missing. So @tiborsimko this should not fix @lnielsen issue. What is strange now is that I am not allowed to upload the source back as Pypi claims the file already exist :-S

[2015-09-25 12:14] kaplun commented on #33
@lnielsen can't you amend to use 2.2.1? It's compatible with 2.1.1 and fixes many bugs :smile:

[2015-09-25 12:18] tiborsimko commented on #33
@kaplun Yes, I just switched the auto-hide off.

[2015-09-25 14:09] lnielsen commented on #33
@kaplun I will of course use the new one :-) Just, we shouldn't remove old releases.

The release is visible but the files are still missing.

[2015-09-25 14:47] kaplun commented on #33
Yes, I don't understand how it happened. Surely I made a mistake when removing the 2.2.0 release file (which was broken). I remember I removed only one file, but maybe I was :beer: ?

[2015-09-30 10:03] dset0x opened #34 "Crash when passing a list of illegal values."
[code]

[code]

[2015-09-30 10:55] kaplun commented on #34
Oh! Even with `sanity_checks` set to `True` :scream:

[2016-04-09 18:44] pombredanne opened #36 "Alternative license?"
Hi I was wondering if you would consider an alternative license (like the LGPL or else) to make it easier to integrate this library ... as a library in a larger Apache-licensed project (scancode-toolkit).
Thank you for you kind consideration!

[2016-04-11 07:55] jirikuncar commented on #36
cc @tiborsimko @kaplun

[2016-04-11 08:21] kaplun commented on #36
I personally don't have a strong opinion on the subject. The original license was the Invenio one from which the library stemmed off.

I guess we could switch to more liberal licenses such as the Revised BSD License used by Beard.

@tiborsimko ?

[2016-04-11 08:41] lnielsen commented on #36
CERN rules apply since intbitset is copyright by CERN. Rules however allow for using LGPLv3 for special cases such as libraries so I think it should be possible to change to LGPLv3. See https://cds.cern.ch/record/1482206/files/OSL-2012-01-Open%20Source%20Licences%20at%20CERN-Short%20version.pdf

[2016-04-11 10:55] pombredanne commented on #36
Thank you for the quick response. LGPL would be awesome for a library.

[2016-04-11 11:01] kaplun commented on #36
Just for my education, to simply have `intbitset` as a dependency for your project, would indeed be a source of license conflict?

[2016-04-11 11:43] pombredanne commented on #36
@kaplun For GPL my understanding is yes when used as a library. And this is why the LGPL and GPL with linking exceptions were created in the first place as far as I know.

[2016-04-11 13:26] pombredanne commented on #36
BTW FWIW, you also release other CERN-copyrighted software under a BSD license https://github.com/inveniosoftware/dojson/blob/master/LICENSE

[2016-04-11 13:32] lnielsen commented on #36
@pombredanne Yes, there's a possibility for exceptions when GPL or LGPL would hinder uptake of a  library - we've primarily used BSD for e.g. Flask extensions.

[2016-04-11 15:33] tiborsimko commented on #36
The LGPL seems reasonable for `intbitset`.  Ideally, we should contact all authors in order to approve/disapprove such a licence change, as we did in the past (see e.g. https://github.com/inveniosoftware/flask-registry/pull/29). I'll start the movement below. Fortunately we are not that many people :smile:  CC @Osso @jirikuncar @lnielsen @crepererum @kaplun @NikolaYolov @tiborsimko

[2016-04-11 15:34] tiborsimko commented on #36
Tibor Simko (@tiborsimko) agrees with the license change to LGPL.

[2016-04-11 15:39] jirikuncar commented on #36
Jiri Kuncar (@jirikuncar) agrees with the license change to the GNU LGPL.

[2016-04-11 15:40] crepererum commented on #36
Can we set a target version (i.e. GNU LGPL v2, v2.1 or v3) please? This would avoid confusions and legal problems afterwards.

[2016-04-11 15:41] NikolaYolov commented on #36
Nikola Yolov (@NikolaYolov) <https://github.com/NikolaYolov> agrees with
the license change to the GNU LGPL.
(He also misses CERN and says hi to everyone.)

On 04/11/2016 04:39 PM, Jiri Kuncar wrote:

[2016-04-11 15:45] tiborsimko commented on #36
I'd say the latest one, LGPLv3, unless there are objections?

Hi! :smile:

[2016-04-11 16:44] crepererum commented on #36
[code]

[2016-04-11 19:48] kaplun commented on #36
Samuele (@samuelekaplun) agrees with the license change to the GNU LGPL.

P.s. how would you do realistically if we were to change the license of a module with much larger number of contributors? I guess we need to better elect some maintainers...

[2016-04-11 20:05] tiborsimko commented on #36
@kaplun I don't think it's possible to change licence without explicit agreement of all the contributors... which is why it's important to get the licence choice right from the get go, ideally.

P.S. BTW see FSF's advice on [why you shouldn't use the Lesser GPL for your next library](https://www.gnu.org/licenses/why-not-lgpl.html)...

[2016-04-12 06:25] lnielsen commented on #36
Lars Holm Nielsen (@lnielsen) agrees with the license change to the GNU LGPLv3.

However, why do contributors need to agree to the license change? There's two classes:

- Employees of CERN (at the time of contributing): Everything they produce of code is IP of CERN.
- External contributors: Are asked to agree to the license and that CERN is the copyright holder.

I.e. CERN has the full copyright a

[2016-04-12 07:40] tiborsimko commented on #36
Yes, the copyright is CERN, and there is no doubt about it.  However, regarding the licence, there is a choice, unlike for copyright. So it's good manners to get an agreement of all contributors in case of a licence change, simply because that's not the original licence under which people were willingly contributing code, and they may have some reasonable objections regarding the suggested new lic

[2016-04-12 08:19] pombredanne commented on #36
@tiborsimko wrote:

Actually I have heard from someone and therefore know for a fact that two person did such thing in the past: but they were immediately annihilated in a particle accelerator.

[2016-04-12 10:08] crepererum commented on #36
I agree with the opinion of @lnielsen. During the time I've worked on `intbitset`, I was employed by CERN and therefor they are allowed to do whatever the want with the code (as long as it doesn't affect me as a person or my personal work, e.g. by making people responsible for the code afterwards, which isn't the case here). A problem that might appear (not for me but for others): sometimes you ma

[2016-04-13 14:07] Osso commented on #36
Sure I am fine with whatever license you can come up with. (I'm quite fond of the MIT license myself)

[2016-04-13 14:08] kaplun commented on #36
@tiborsimko I think everybody agreed on the change of license.

[2016-04-18 17:48] pombredanne commented on #36
:+1: Thank you to everyone for this effort. Mucho appreciated.

[2016-04-19 15:38] tiborsimko commented on #36
@pombredanne This week is kind of crazy, but hopefully we'll get to releasing the license changed version next week.

[2016-04-19 21:09] pombredanne commented on #36
@tiborsimko no rush :)

[2016-04-25 12:39] tiborsimko commented on #33
Is this closable?

[2016-04-25 12:47] kaplun commented on #33
I think so...

[2016-04-25 12:47] #33 closed

[2016-04-27 09:04] #36 closed

[2016-04-27 10:26] pombredanne commented on #36
@kaplun @tiborsimko and team: Thank you very much!

[2016-05-04 06:52] pombredanne opened #40 "Cannot subclass?"
Hi:
I am trying to create a simple subclass of `intbitset` without luck:
[code]

and then in the same session as above:
[code]

[2016-05-04 09:48] kaplun commented on #40
Hi @pombredanne,

given that `intbitset` is implemented as C extension I am not sure about its exstensibility out of the box. I would need to investigate a bit.

[2016-05-04 12:06] kaplun commented on #40
Dear @pombredanne, the proposed PR should fix the `__del__()` issue. Regarding the proper creation of a subclass, `intbitset` is special in that all its initialization happens in the `__cinit__()` special method that is not accessible in Python.

So to implement your initialization you could for example write:
[code]

[2016-05-04 14:19] #40 closed

[2016-05-04 15:43] kaplun commented on #40
Ah additionally:

{intbitset([1, 2, 5]): 12}
[code]

[2016-05-04 17:16] pombredanne commented on #40
@kaplun Thanks ++
and FWIW I do not intend to make intbitset hashable, but rather have a hashable immutable subclass.

But there is still something not right though IMHO:
[code]
I would expect a MySet object instead of an intbitset.

For instance with a set:
[code]
I get the right subclass:
[code]

[2016-05-04 21:16] kaplun commented on #40
That's probably due to the fact that the `intbitset` method and operators explicitly return a new `intbitset` object (I never thought about the use case of inheritance :smile: but was more focused on implementing a C extension). I think though that it should be possible to implement what you are looking for. I'll investigate further. (Although all this runtime type checking is going to reduce a bi

[2016-05-04 22:02] pombredanne commented on #40
@kaplun hold that thought then. I may able to get the exact same results by delegation rather than inheritance.

[2016-05-05 07:02] pombredanne commented on #40
FWIW, you may want to reopen this

[2016-05-05 19:49] kaplun commented on #40
Do you mean WRT operators returning explicitly `intbitset` or there is still a proble with `__del__`?

[2016-05-05 19:52] kaplun opened #42 "Operators are returning explicitly `intbitset`"
@pombredanne reports in #40:
[...]
there is still something not right though IMHO:

[code]

I would expect a MySet object instead of an intbitset.

For instance with a set:

[code]

I get the right subclass:

[code]

[...]

Indeed this is due to the fact that the `intbitset` methods and operators explicitly return a new `intbitset` object rather than an instance of the desired class.

[2016-05-29 17:01] pombredanne commented on #40
Actually `intbitset` are kinda like an immutable structure when it comes to subclassing and therefore closer to a frozenset than a set. Hence overriding  `__init__` does not work as intented here, but overriding __new__ and invoking `super`  works great.

[2016-05-29 17:08] pombredanne commented on #40
For instance this works nicely:
[code]

[2016-06-11 11:06] pombredanne opened #43 "Is intbitset really an unordered set ? Or is it rather a sorted set instead?"
I wonder if the statement `Provides an intbitset data object holding unordered sets of unsigned integers` is a tad not correct? If the set is stored in a single bitmap, the set would actually always be a sorted set and not an unordered set?

If yes, can I rely on this and assume that `set[0]` always returns the smallest element,  `set[-1]` the biggest element  (at least for finite sets). And that

[2016-06-13 08:55] kaplun commented on #43
@pombredanne exactly. The statement you refer to is there to explain that whatever order you try to impose on the intbitset (e.g. by adding element in a given desired order) is not going to be respected.

Instead, accessing the set via `[..]` and iterating over it, is going to happen exactly as you described.

[2016-06-13 08:57] kaplun commented on #43
[code]

[2016-06-13 12:18] pombredanne commented on #43
@kaplun Thanks ++ that is what I infered from the code... I think this is a rather important quality of this structure. Do you care for some PR with some extra doc on this topic?

[2016-06-13 13:13] kaplun commented on #43
Sure!

[2016-06-13 13:17] pombredanne opened #44 "Feature request: `rank(i)` method"
It would quite useful to have an explicit and optimized `rank(i)` method on the bit vector.
A `rank(x)` method would be the number of bit set to 1 in the `range(i)` given an integrer `i`.

Since `intBitSetGetTot` does a popcount over the whole bit vector and is used for the `len` implementation,  this would be equivalent today to `len(intbitset[:x])` (though this may be off by one;) and may be rat

[2016-06-21 12:36] kaplun commented on #43
@pombredanne sorry not sure if you meant that you are going to contribute with such PR :)

[2016-06-21 13:57] pombredanne commented on #43
I will do this now.

[2016-06-21 14:21] pombredanne commented on #43
@kaplun done :)

[2016-06-21 14:27] pombredanne commented on #43
@kaplun  as a side note, you can see my usage of  `intbitset` [here](https://github.com/nexB/scancode-toolkit/blob/d99f2781d19a70de57a6392b61e2253f3ec599f5/src/licensedcode/spansintsets.py#L42) and [there](https://github.com/nexB/scancode-toolkit/blob/d99f2781d19a70de57a6392b61e2253f3ec599f5/src/licensedcode/match_set.py#L233)  and [there](https://github.com/nexB/scancode-toolkit/blob/d99f2781d19a

[2016-06-21 14:31] kaplun commented on #43
@pombredanne Nice! I am glad this library can be useful outside the realm for what it had been originally developed.

I have looked at your code: I think you can squeeze some memory optimization by directly passing the iterator rather than a list:
[code]

Vs.

[code]

[2016-06-21 14:37] pombredanne commented on #43
Actually I should have entered a bug for this:
[code]
Iterators do not work

[2016-06-21 14:39] pombredanne commented on #43
So in my Span wrapper I force a list [on construction](https://github.com/nexB/scancode-toolkit/blob/d99f2781d19a70de57a6392b61e2253f3ec599f5/src/licensedcode/spansintsets.py#L119) (yack!)

[2016-06-21 14:42] pombredanne opened #47 "Cannot create from iterable"
Following discussions in #43 it appears that iterables cannot be used to construct an `intbitset`:

[code]

[2016-06-23 18:26] #43 closed

[2017-01-29 11:26] pombredanne opened #52 "Release wheels on Pypi?"
It would be great to have pre-built wheels on Pypi.
I am vendoring some here: https://github.com/nexB/scancode-toolkit/tree/1ff61e5858186210dd8393f7ee55c20c30168369/thirdparty/prod#5e8d24996c365d3aeeb00dae4cc68e1f-b33774e5140b56add6f4011934105bb3620d4e9d and I build them with these "build loops" (on Linux, Mac and Windows through Travis and Appveyor):
- https://github.com/pombreda/thirdparty
- htt

[2017-01-29 11:33] pombredanne opened #53 "Setup CI for Windows and Mac"
It would be great to have the tests running on all supported on OSes on Travis and Appveyor.
Currently Travis runs tests only on Linux. It could run on MacOSX too... And Windows is not tested (though it runs great on both OSes).
I can help as needed.

[2017-01-30 16:29] kaplun commented on #52
@pombredanne thanks a lot for this. Since you seems to have quite some experience on packaging, in case would you be available to give a try to #5?

[2017-01-30 16:39] pombredanne commented on #5
let me check this out and see if I can help. Cython is a beast of its own for sure.

[2017-01-30 16:39] pombredanne commented on #52
@kaplun I (unfortunately) do have some more experience that I wish for. Let me check out #5

[2017-01-30 16:59] pombredanne commented on #5
Ok, I will come up later this week with an experimental updated `setup.py`. The trick is to handle both  cases when:
- Cython is installed and this is a clone (where cython must be called to generate the C code), and
- this is an sdist e.g. a Pypi release and Cython is not installed (e.g which is the only case supported for now)

[2017-01-30 17:00] pombredanne commented on #5
the wheel case is not needing anything extra, this is just a regular build from an sdist or clone with a different command.

[2017-01-31 10:30] pombredanne commented on #47
FWIW, this is rather minor, as it only requires otherwise to wrap in a list like I do here: https://github.com/nexB/scancode-toolkit/blob/1ff61e5858186210dd8393f7ee55c20c30168369/src/licensedcode/spans.py#L114

[2017-02-01 11:59] kaplun commented on #53
Please feel free to send a PR to implement all this extended testing. I personally do not have experience with Appveyor.

[2017-08-11 15:02] pombredanne opened #57 "initbitset should not create a top level version.py module"
When installed, this could be overwritten easily by another installation since this is such a vanilla and common name
This happens quite likely because https://github.com/inveniosoftware/intbitset/blob/146da9b63d958981ed7d65a32c399cb53e04527f/intbitset/version.py is expected to be dictrely referenced....

This is forcing the debian maintainers to patch this for sanity when including in Debian to r

[2017-08-11 15:06] pombredanne commented on #57
This was discovered by @maxyz while building a package for Debian.

[2017-08-11 15:07] pombredanne commented on #57
Closing... I had not seen the PR #56

[2017-08-11 15:07] #57 closed

[2018-01-09 13:16] pombredanne opened #58 "Add support for rank/select functions"
It would be great to have a support for rank and select on an intbitset to support building fast and compact mappings with int keys. https://en.wikipedia.org/wiki/Succinct_data_structure
It can be emulated alright in pure Python but through a slow iteration.

[2018-01-10 08:22] pombredanne opened #59 "Implement __sizeof__"
The set size can be obtained with `get_allocated()`. It would be great that `__sizeof__` is aliased to report the actual used memory size such that memory usage is properly reported.

[2018-02-28 12:40] zachmoshe opened #60 "__init__ crashes when passing list comprehension from numpy.array object"
Weird, I know...

[code]

Surprisingly enough, it does work if `arr` is a regular list and not `np.array`

Tested on Python 3.6.3 and 2.7.13 with intbitset==2.3.0

[2018-03-01 08:44] ttencate commented on #60
Cross-posting from [your StackOverflow question](https://stackoverflow.com/q/49029636/14637)...

Here's something interesting:

    $ gdb python
    ...
    (gdb) run crash.py
    ...
    Thread 1 "python" received signal SIGSEGV, Segmentation fault.
    0x00007ffff745338b in ?? () from /usr/lib/libpython3.6m.so.1.0
    (gdb) bt
    #0  0x00007ffff745338b in ?? ()
       from /usr/lib/libpython3.6

[2019-02-16 09:47] mikulatomas opened #63 "Negation?"
Hi,

Am I blind or there is not simple negation of intbitset?

Thanks!

[2019-04-15 17:21] pombredanne commented on #63
@mikulatomas can you elaborate what you mean by a negation?

[2019-04-16 05:43] mikulatomas commented on #63
00001111 -> 11110000 :)

[2019-04-16 07:19] pombredanne commented on #63
@mikulatomas ah! ok, you want to treat do this as a boolean operations on the backing bitmap? or as an integer set operation? I wonder if we can cleanly treat this both as a bitmap and as a integer set.
PR welcomed of course.
Alternatively the excellent https://github.com/ilanschnell/bitarray from @ilanschnell has an `invert()` function to effectively flip the bits in place. This is not primarily

[2019-04-16 11:49] jirikuncar commented on #63
@mikulatomas Have you tried `intbitset.intbitset(trailing_bits=True) - intbitset.intbitset((1, 2, 3, 4))`?

[2019-08-31 17:38] Abhishek-Dev09 opened #64 "Intbitset installation fails on Python 3"
Description : Intbitset failed to install on Python 3 but it is fine with Python 3.6.8

Python version - 3.7.1
OS- macOS mojave(10.14.6)
GCC - 9.1

Reference - https://github.com/nexB/scancode-toolkit/issues/1631
Goal - to add support for python 3.7.1

[2019-09-01 08:40] greut commented on #64
https://github.com/inveniosoftware/intbitset/pull/62

[2019-12-19 11:33] pombredanne commented on #63
@mikulatomas ping?

[2019-12-19 14:36] pombredanne opened #66 "Update PyPI auto release credentials"
For now @kaplun old credentials are used and they fail:
[code]
https://travis-ci.org/inveniosoftware/intbitset/jobs/627259098#L567

[2019-12-19 14:38] pombredanne commented on #66
For now I pushed https://pypi.org/project/intbitset/2.4.0/ by hand

[2019-12-19 14:40] pombredanne commented on #64
I regened, merged a few things and pushed https://pypi.org/project/intbitset/2.4.0/ :)

[2019-12-19 14:47] pombredanne commented on #60
@ttencate a PR would be mucho welcomed if can provide one.

[2019-12-19 17:17] ttencate commented on #60
@pombredanne Sorry, don't count on me, it was just some drive-by debugging. I don't even remember what project I was using intbitset for.

[2019-12-20 13:05] pombredanne commented on #64
A new release has been made.
Thank you for the report and your patience

[2019-12-20 13:05] #64 closed

[2019-12-20 13:07] pombredanne commented on #25
I am closing this in order to clean up old tickets and continue from clean slate.

[2019-12-20 13:07] #25 closed

[2019-12-20 13:16] pombredanne commented on #34
Note that this also happens on Python 3.x

[2019-12-20 13:22] pombredanne commented on #15
@jirikuncar wrote

I agree. Either we are hashable and immutable or we are mutable and not hashable and IMHO anything else is an oddity.

[2019-12-20 13:24] pombredanne opened #67 "Drop dependency on nose"
nose is just a test runner and nothing from it used anywhere. We should drop its usage if anything and replace that with an optional pytest which I prefer as a test runner.

[2019-12-28 10:57] mikulatomas commented on #63
Hi, sorry for late reply, i have solved my problem with complete different library.

[2020-01-26 23:09] kaplun commented on #66
Hey sorry I haven't noticed this. Is there a way I can unblock you? You can write me in case at kaplun@protonmail.com

[2020-01-27 06:51] pombredanne commented on #66
@kaplun I do not have access to the travis account so I likely cannot update the encrypted credentials there. But may be this is moot... Frankly I am not sure I like the idea of auto release from a host I do not have control on....

[2020-01-27 12:43] kaplun commented on #66
Yeah agreed :)

[2020-01-27 12:47] kaplun commented on #66
Actually since I am no longer maintainer of it I can't amend anything there. @lnielsen maybe you can see if you can ensure @pombredanne has proper rights over it?

[2020-02-13 12:49] lnielsen commented on #66
@pombredanne Do you want to release it manually? If so I think you have access to the PyPI package, if not, I can make a new token using the inveniosoftware user.

[2020-02-13 13:28] pombredanne commented on #66
@lnielsen I pushed a release by hand. In earnest I prefer it this way. I have access to the Pypi account alright. So we are fine . Let me close this! :)

[2020-02-13 13:28] #66 closed

[2020-03-08 01:58] bbbbbbbbba commented on #47
It seems like this is now partially resolved, but an error happens with an *empty* generator.
[code]

[2020-09-03 17:19] #47 closed

[2020-09-04 19:59] bbbbbbbbba commented on #47
Actually, I just realized that a non-empty generator gives an empty `intbitset`, which is still not the right behavior. Sorry for my previous mistaken report.

[2020-09-23 17:32] pombredanne opened #71 "Handle varying versions of Cython support on older OSses"
On some OS versions (such as some slightly older CentOS) we may need to recompile from source with newly generated Cython code but not with latest version of Cython which what I merged a tad too quickly from @majurg 's #70 #69
Reverting to Cython 0.28 is exactly the reason why we updated the C code in #64

So we need to find a way to get our cake and eat it too:
- we want the C in the committed re

[2020-09-24 19:25] pombredanne commented on #71
Actually this is a fluke and a non problem.
Closing and sorry for the noise!
Cython rocks! :bow:

[2020-09-24 19:25] #71 closed

[2021-01-22 16:46] pombredanne opened #73 "Use a more compact bitset with roaring bitmaps"
Roaring bitmaps could offer:
1. a more compact bitmap for larger sparse sets
2. a standard serialization format

[2021-03-31 12:02] tardyp opened #74 "Support for arm"
With apple transitioning to arm, it will become more and more popular to run software on ARM machines.

following line is hardcoding x86 cpu kinds:

https://github.com/inveniosoftware/intbitset/blob/master/setup.py#L56

unit tests are passing fine in remove the march=core2 argument

[2021-04-06 20:20] #74 closed

[2022-01-27 13:55] shaypal5 opened #77 "`intbitset` throws an `OverflowError` when trying to create a set from a list of integers"
Package version: `intbitset-2.4.1`

On Python 3.8.5, macOS BigSur 11.6.1.

## Describe the bug

`intbitset` throws an `OverflowError` when trying to create a set from a list of integers:

## Steps to reproduce

The following code reproduces the error:

[code]

Also this:
[code]

[2022-02-17 13:00] pombredanne commented on #77
Thanks for the report! Just to be clear this is on X86, not ARM/M1, correct?

[2022-02-17 17:15] shaypal5 commented on #77
Correct.

[2022-02-22 17:26] pombredanne commented on #18
@dset0x Please check out the latest https://github.com/inveniosoftware/intbitset/pull/78 that has this commit:
https://github.com/inveniosoftware/intbitset/pull/78/commits/3ec8a41b6e05bc9c559f71b8595867b458fb8610

[2022-02-22 23:50] pombredanne commented on #67
Done in the latest branch for 3.0

[2022-02-22 23:50] #67 closed

[2022-02-22 23:56] pombredanne commented on #77
@shaypal5
The reason is there... you have values that are bigger than 32 bits. The error message is decent IMHO.
[code]

See https://github.com/inveniosoftware/intbitset/blob/2e1c15f8836c47526d094a369b85642d36ddb8e0/README.rst#documentation

[2022-02-22 23:57] pombredanne commented on #53
All set now with GH actions.

[2022-02-22 23:57] #53 closed

[2022-02-23 00:06] pombredanne commented on #60
[code]

we do not support the numpy.int64 type... these are not ints.... so the easy way around is to convert to integers.
[code]

[2022-02-23 00:07] pombredanne commented on #63
closing now then.

[2022-02-23 00:07] #63 closed

[2022-02-23 00:08] pombredanne commented on #5
I am fine with keeping the C in VCS. Closing this now

[2022-02-23 00:08] #5 closed

[2022-02-23 00:09] pombredanne commented on #58
Not needed IMHO

[2022-02-23 00:09] #58 closed

[2022-02-23 00:09] pombredanne commented on #60
Closing for now. Thanks for your patience!

[2022-02-23 00:09] #60 closed

[2022-02-23 00:10] pombredanne commented on #44
Not needed in this library after all.

[2022-02-23 00:10] #44 closed

[2022-02-23 00:11] pombredanne commented on #42
I do not think it is a big deal... I am fine with not subclassing but delegating instead

[2022-02-23 00:11] #42 closed

[2022-02-23 08:24] pombredanne commented on #52
I am wheels ready built on the ci to push for 3.0.0. Closing this now.

[2022-02-23 08:24] #52 closed

[2022-02-23 09:28] pombredanne commented on #73
But testing against PyRoaringBitmap shows that intbitset is typically always faster. So closing for now.

[2022-02-23 09:28] #73 closed

[2022-02-23 09:34] pombredanne commented on #52
See https://pypi.org/project/intbitset/3.0.0/ :tada:

[2022-02-23 09:34] pombredanne commented on #52
with wheels for Windows, macOS and Linux for all CPython versions from 3.6 to 3.10 ;)

[2022-02-23 17:14] shaypal5 commented on #77
Oh, cool! Thank you!

[2022-02-23 17:14] #77 closed

[2022-03-05 07:14] pombredanne opened #79 "Doc is out of date"
https://intbitset.readthedocs.io does not seem to be updated  anymore.
@lnielsen would you know how to restore the publication? FWIW, despite being the current de-facto maintainer, I have zero admin access to this repo.

[2022-06-06 21:03] pombredanne commented on #79
@lnielsen gentle ping.... since I am the primary maintainer and user of this utility, may be it would be best to transfer it over entirely? Otherwise I will have to fork it as intbitset2 if I cannot perform basic things such as releasing doc.

[2022-07-25 07:33] lnielsen commented on #79
Hey, sorry for not seeing this until now.....please feel free to email me at lars.holm.nielsen@cern.ch or  info@inveniosoftware.org - my GitHub notifications are completely overloaded.

You're supposed to already have access (do you use a different account?):

<img width="463" alt="Screenshot 2022-07-25 at 09 31 01" src="https://user-images.githubusercontent.com/1698163/180722370-3f89ab87-a94c-4e0

[2022-09-01 18:00] pombredanne opened #80 "Accept a generator of ints as an input"
We should be able to accept a generator of ints as an input and not only a list.

This is not correct:
[code]

See https://github.com/nexB/scancode-toolkit/pull/3077 reported by progval

[2022-10-30 09:17] priv-kweihmann opened #81 "Python 3.11 compilation error"
Package version (if known): 3.0.1

## Describe the bug
Compilation on x86-64 (and potentially all other platforms) fails

## Steps to Reproduce
Try to compile the c extension with python 3.11.0 release, up to py 3.10.6 everything at least compiled

## Expected behavior

c extension compiles

## Screenshots (if applicable)

## Additional context

[code]

[2022-10-30 09:25] priv-kweihmann commented on #81
Likely an issue with the code generation from cython - there are several issues in the cython upstream bug tracker that claim to have fixed this - so I guess a refresh of the c code should do it using the latest cython master

[2022-11-02 16:46] pombredanne commented on #81
@priv-kweihmann Thanks, the likely solution is to regen the C code indeed!

[2022-11-10 09:46] heliocastro opened #83 "Native arm64 build is broken due forced core2 arch"
When try compile intbitset, or wheel binding generation, forced --arch=core2 prevents to buld the code when running in native arm64 platform.
Valid for both linux/arm64 or Apple Silicon arm64

Reference:
```clang: error: the clang compiler does not support '-march=core2'```

Full snippet

[code]

[2022-11-10 09:55] heliocastro commented on #83
Bug is not relevant. Transient dependency used is a too old intbitset ( 2.4.x )
Closing this as invalid

[2022-11-10 09:57] #83 closed